<div class="col s12 m4">
  <div class="card small">
    <div class="card-image">
      <img src="{{logo}}" />
    </div>
    <div class="card-content">
      <span class="card-title">{{name}}</span>
    </div>
    <div class="card-action">
      <a href="{{link}}" target="_blank">View on Credly</a>
    </div>
  </div>
</div>