<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Project Portfolio - Jake Pasternak</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Stylesheets -->
    <!-- Materialize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Google Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f57248664d.js"
      crossorigin="anonymous"
    ></script>
    <!-- styles.css -->
    <link rel="stylesheet" href="/stylesheets/styles.css" />

    <!-- Scripts -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <!-- Materialize -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
      defer
    ></script>

    <script src="assets/js/script.js" type="module" defer></script>
  </head>

  <body>
    <!-- Header and Navigation Bar -->
    <header>
      <nav>
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo">Jake Pasternak</a>
          <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i
              class="material-icons"
            >menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li id="projectsNav"><a href="/projects">Projects</a></li>
            <li id="resumeNav"><a href="/resume">Résumé</a></li>
            <li id="contactNav"><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-menu">
        <li id="projectsNavMobile"><a href="/projects">Projects</a></li>
        <li id="resumeNavMobile"><a href="/resume">Résumé</a></li>
        <li id="contactNavMobile"><a href="/contact">Contact</a></li>
      </ul>
    </header>
    <main class="container">{{{body}}}</main>

    <!-- Footer -->
    <footer class="footer-copyright red lighten-2">
      <div class="container">
        <p class="grey-text text-lighten-3 center">
          &copy; Jake Pasternak 2022
        </p>
      </div>
    </footer>
  </body>
</html>