<section>
  <div class="row">
    <div class="d-flex justify-around flex-column">
      <a href="/projects">
        <div class="col s12 btn btn-large mb-1 mt-1">
          <span>Projects</span>
        </div>
      </a>
      <a href="/resume">
          <div class="col s12 btn btn-large mb-1">
            <span>Résumé</span>
          </div>
        </div>
      </a>
      <a href="/contact">
          <div class="col s12 btn btn-large mb-1">
            <span>Contact</span>
          </div>
        </div>
      </a>
    </div>

  </div>
</section>