<div class="row">
  <div class="col s12 m9 l10">

    {{! Summary }}
    <div class="row">
      <h2>Summary</h2>
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <p>{{resumeData.summary}}</p>
          </div>
        </div>
      </div>
    </div>

    {{! Skills }}
    <div class="row">
      <div class="col s12">
        <h2>Skills and Familiar Technologies</h2>
        <ul class="collapsible">
          {{#each resumeData.skills as |skillGroup|}}
          <li>
            <div class="collapsible-header">
              {{skillGroup.group}}
            </div>
            <div class="collapsible-body">
              <ul class="collection">
                {{#each skillGroup.skillsList as |skill|}}
                <li class="collection-item">{{skill}}</li>
                {{/each}}
              </ul>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    {{! Certifications }}
    <div class="row">
      <div class="col s12">
        <h2>Certifications</h2>
        {{#each resumeData.certifications as |certification|}}
          {{> certification-card certification}}
        {{/each}}
      </div>
    </div>
    
    {{!-- Work --}}
    <div class="row">
      <div class="col s12">
        <h2>Work Experience</h2>
        {{#each resumeData.work as |work|}}
          {{> work-experience-card work}}
        {{/each}}
      </div>
    </div>

      {{! Education }}
      <div class="row">
        <div class="col s12">
          <h2>Education</h2>
          <div class="row">
            {{#each resumeData.education as |education|}}
              {{> education-card education}}
            {{/each}}
          </div>
        </div>
      </div>
  </div>
</div>
<script src="/javascript/resume.js"></script>