@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Kanit&display=swap");

body {
  font-family: Roboto, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  flex: 1 0 auto;
}

.card-reveal {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.card-reveal::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit, cursive;
}
