@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Kanit&display=swap");

:root {
  --primary-color: #58bc82;
  --secondary-color: #7c7a7a;
  --tertiary-color: #1a281f;
  --white-color: #fffcff;
  --light-green: #8fe388;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-white {
  color: var(--white-color);
}

nav a {
  color: var(--white-color) !important;
}

a,
.card-action a {
  color: var(--primary-color) !important;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  flex: 1 0 auto;
}

.card-reveal {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.card-reveal::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit, cursive;
}

.table-of-contents {
  position: fixed;
}
