@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Kanit&display=swap");

:root {
  --primary-color: #000;
  --secondary-color: #444;
  --tertiary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  flex: 1 0 auto;
}

body::-webkit-scrollbar {
  display: none;
}

/* .jumbotron h2 {
  font-family: Monoton, cursive;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit, cursive;
}
